.pulse {
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.slide-out {
    transform: translateX(100%);
    opacity: 0;
}

.slide-in {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade {
    transition: opacity 0.6s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
