@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #1f2333;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.background {
    width: 100%;
    position: absolute;
    top: 0;
    background: url(../images/header.webp) center center no-repeat;
    background-size: cover;
    height: calc(80vh);
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    opacity: 0.2;
}

nav {
    width: 100%;
    border-bottom: 2px solid #ffffff1c;
}
nav .navigator {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav .navigator div li {
    padding: 25px;
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
    transition: 0.2s;
    cursor: pointer;
}
nav .navigator div li:hover {
    background: #3b82f612;
    color: #599bfa;
}
nav .navigator div a {
    font-weight: 600;
    color: white;
}
nav .navigator div i {
    font-weight: 600;
    color: white;
    transition: 0.2s;
    padding-left: 5px;
}
nav .navigator div li:hover i {
    color: #599bfa;
    transform: rotate(180deg);
    padding-right: 5px;
    padding-left: 0;
}
nav .navigator div:nth-child(1) {
    padding: 25px 0;
}
nav .navigator div:nth-child(2) {
    display: flex;
    justify-content: end;
    padding: 25px 0;
}

header {
    width: 100%;
}
header .header {
    padding-top: 140px;
}
header .header h1 {
    text-align: center;
    color: white;
}
header .header p {
    text-align: center;
    color: #ffffffcc;
}
header .header div {
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 10px;
    font-weight: 600;
}
header .header i {
    color: #599bfa;
    margin-right: 10px;
}
