@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #1f2333;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.background {
    width: 100%;
    position: absolute;
    top: 0;
    background: url(../images/header.webp) center center no-repeat;
    background-size: cover;
    height: calc(80vh);
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    opacity: 0.2;
}

nav {
    width: 100%;
    border-bottom: 2px solid #ffffff1c;
}
nav .navigator {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0;
}
nav .navigator div li {
    padding: 25px;
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
}
nav .navigator div li:hover {
    background: #3b82f612;
    color: #599bfa;
}
nav .navigator div a {
    font-weight: 600;
    color: white;
}
nav .navigator div i {
    font-weight: 600;
    color: white;
    transition: 0.2s;
    padding-left: 5px;
}
nav .navigator div li:hover i {
    color: #599bfa;
    transform: rotate(180deg);
    padding-right: 5px;
    padding-left: 0;
}
nav .navigator > div:nth-child(1) {
    padding: 25px 0;
}
nav .navigator > div:nth-child(2) {
    display: flex;
    justify-content: end;
    padding: 25px 0;
}
nav .navigator div .menu {
    display: inline-block;
}
nav .navigator div .menu:hover .menu-content {
    display: block;
    position: absolute;
    z-index: 2;
}
nav .navigator div .menu:last-child:hover .menu-content {
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
}
nav .navigator div .menu .menu-content {
    display: none;
    background-color: #2e3343;
    border: 2px solid #393e4e;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    padding-left: 0;
    border-radius: 10px;
    margin: 0;
}
nav .navigator div .menu .menu-content li {
    padding: 5px 15px 5px 10px;
    border-radius: 0;
    list-style-type: none;
    display: block;
    transition: 0.2s;
    cursor: pointer;
    font-size: 14px;
}
nav .navigator div .menu .menu-content li:hover {
    background: #3b82f612;
    color: #599bfa;
}
nav .navigator div .menu .menu-content a {
    font-weight: 600;
    color: #ffffffcc;
    text-decoration: none;
}
nav .navigator div .menu .menu-content i {
    font-weight: 600;
    color: #ffffffcc;
    font-size: 13px;
    transition: 0.2s;
    padding-left: 0;
    padding-right: 5px;
}
nav .navigator div .menu .menu-content li:hover i {
    color: #599bfa;
    transform: rotate(0deg);
    padding-left: 0;
}
nav .navigator div .menu .menu-content .divider {
    border: 2px solid #393e4e;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    width: 100%;
}
header .header {
    padding-top: 125px;
}
header .header h1 {
    text-align: center;
    color: white;
}
header .header p {
    text-align: center;
    color: #ffffffcc;
}
header .header div {
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 10px;
    font-weight: 600;
}
header .header i {
    color: #599bfa;
    margin-right: 10px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 25px;
    margin-top: 125px;
}

.newspaper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "newspaper newspaper";
    gap: 15px;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
}
.newspaper > div {
    width: 100%;
    background: #a7a7a70d;
    box-sizing: border-box;
    position: relative;
    padding: 15px;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
    overflow: hidden;
}
.newspaper div:first-child {
    grid-area: newspaper;
}
.newspaper div .title {
    font-size: 18px;
}
.newspaper div:first-child .title {
    font-size: 26px;
}
.newspaper progress {
    height: 5px;
}
.newspaper .title {
    color: white;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}
.newspaper .description {
    color: #ffffffcc;
    font-size: 15px;
    margin: 0;
}
.newspaper div:first-child .title,
.newspaper div:first-child .description {
    position: relative;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.serverlist {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
    margin-top: 50px;
}
.serverlist .serverlist-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.serverlist .serverlist-grid .serverlist-grid-section {
    width: 100%;
    background: #a7a7a70d;
    box-sizing: border-box;
    position: relative;
    height: 105px;
    padding-left: 15px;
    padding-right: 10px;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
}
.serverlist .serverlist-grid .serverlist-grid-section .title {
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.serverlist .serverlist-grid .serverlist-grid-section .title i {
    color: #599bfa;
    margin-right: 5px;
}
.serverlist .serverlist-grid .serverlist-grid-section .description {
    color: #ffffffcc;
    font-size: 15px;
    padding-bottom: 6px;
}

.server-statistics {
    width: 100%;
    margin-top: 50px;
}
.server-statistics .server-statistics-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.server-statistics .server-statistics-grid .server-statistics-grid-section {
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #a7a7a70d;
}
.server-statistics .server-statistics-grid .server-statistics-grid-section .title {
    color: #ffffffcc;
    text-align: center;
}
.server-statistics .server-statistics-grid .server-statistics-grid-section .description {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.player-actions {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}
.player-actions .placeholder {
    width: 100%;
    background: #a7a7a70d;
    box-sizing: border-box;
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
}
.player-actions .placeholder .title {
    font-weight: 600;
    margin-top: 18px;
    padding-left: 40px;
}
.player-actions .placeholder .title a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.player-actions .placeholder .title a:hover {
    color: #599bfa;
}
.player-actions .placeholder img {
    width: 30px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
}
.player-actions .placeholder .description {
    color: #ffffffcc;
    font-size: 14px;
    padding: 15px 0;
}

.server-actions {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    margin-top: 50px;
}
.server-actions .placeholder {
    width: 100%;
    background: #a7a7a70d;
    box-sizing: border-box;
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
    border: 2px solid #a7a7a70d;
    border-radius: 10px;
}
.server-actions .placeholder .title {
    font-weight: 600;
    margin-top: 18px;
    padding-left: 40px;
}
.server-actions .placeholder .title a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.server-actions .placeholder .title a:hover {
    color: #599bfa;
}
.server-actions .placeholder img {
    width: 30px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
}
.server-actions .placeholder .description {
    color: #ffffffcc;
    font-size: 14px;
    padding: 15px 0;
}

footer {
    width: 100%;
    border-top: 2px solid #ffffff1c;
    margin-top: 100px;
}
footer .footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px 0;
}
footer .footer div:first-child {
    color: white;
    font-weight: 600;
    padding: 25px 0;
}
footer .footer div:last-child {
    display: flex;
    justify-content: end;
    padding-top: 12.5px;
}
footer .footer div:last-child a li {
    color: white;
    font-weight: 600;
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}
footer .footer div:last-child a li:hover {
    background: #3b82f612;
    color: #599bfa;
}
footer .footer p {
    margin: 0;
    color: #ffffffcc;
    font-weight: normal;
    font-size: 14px;
}
