body {
    padding: 0;
    margin: 0;
    background: #1f2333;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.background {
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
}
.background img {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0))); mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    opacity: 0.2;
    overflow: hidden;
    width: 100%;
}
